.cart {
  margin: 5rem auto;
  height: 100vh;
  max-width: 1200px;

  &__status {
    margin-bottom: 5rem;
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.207);
  }

  .item {
    margin-top: 2rem;
    padding: 0 3rem 2rem 3rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.207);
    display: grid;
    grid-template-columns: repeat(4, 2fr) 1fr;
    grid-template-areas: 'image name quantity price remove';
    align-items: center;
    justify-items: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(4, 2fr) 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'image name name name price'
                           'image ... quantity ... remove';
    }

    &__image {
      grid-area: image;
    }
    &__info {
      grid-area: name;
    }
    &__quantity {
      display: flex;
      height: fit-content;
      grid-area: quantity;

      &--number {
        margin: auto 3rem;
        font-size: 1.9rem;
      }

      .quantity-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        border: none;
        background-color: #699af6;

        &:hover {
          background-color: #4586ff;
        }

        .minus {
          width: 2rem;
          height: 0.4rem;
          background-color: #fff;
          border-radius: 500rem;
        }
        .plus {
          width: 2rem;
          height: 0.4rem;
          background-color: #fff;
          border-radius: 500rem;
          position: absolute;

          &::before {
            content: '';
            width: 2rem;
            height: 0.4rem;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 500rem;
            transform: rotate(90deg);
          }
        }
      }
    }
    &__price {
      grid-area: price;
    }
    &__remove {
      grid-area: remove;

      .remove-item__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        border: none;
        background-color: rgb(222, 55, 55);
        transform: rotate(45deg);

        &:hover {
          background-color: rgb(206, 13, 13);
        }


        .cross {
          width: 2rem;
          height: 0.3rem;
          background-color: #fff;
          border-radius: 500rem;
          position: absolute;

          &::before {
            content: '';
            width: 2rem;
            height: 0.3rem;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 500rem;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
