@keyframes slide {
  0%, 40% {
    transform: translateX(0);
  }
  50%, 100% {
    transform: translateX(-100vw);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
}

html {
  font-size: 62.5%;
  /* allows user to zom in on page (change font size) px won't work*/
}
@media only screen and (min-width: 187.5em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 187.5em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 162.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 125em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #c6efe1;
}

body {
  font-display: swap;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #0f0f0f;
}

.cart {
  margin: 5rem auto;
  height: 100vh;
  max-width: 1200px;
}
.cart__status {
  margin-bottom: 5rem;
}
.cart__divider {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.207);
}
.cart .item {
  margin-top: 2rem;
  padding: 0 3rem 2rem 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.207);
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  grid-template-areas: "image name quantity price remove";
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 56.25em) {
  .cart .item {
    grid-template-columns: repeat(4, 2fr) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image name name name price" "image ... quantity ... remove";
  }
}
.cart .item__image {
  grid-area: image;
}
.cart .item__info {
  grid-area: name;
}
.cart .item__quantity {
  display: flex;
  height: fit-content;
  grid-area: quantity;
}
.cart .item__quantity--number {
  margin: auto 3rem;
  font-size: 1.9rem;
}
.cart .item__quantity .quantity-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: #699af6;
}
.cart .item__quantity .quantity-btn:hover {
  background-color: #4586ff;
}
.cart .item__quantity .quantity-btn .minus {
  width: 2rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 500rem;
}
.cart .item__quantity .quantity-btn .plus {
  width: 2rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 500rem;
  position: absolute;
}
.cart .item__quantity .quantity-btn .plus::before {
  content: "";
  width: 2rem;
  height: 0.4rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 500rem;
  transform: rotate(90deg);
}
.cart .item__price {
  grid-area: price;
}
.cart .item__remove {
  grid-area: remove;
}
.cart .item__remove .remove-item__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: #de3737;
  transform: rotate(45deg);
}
.cart .item__remove .remove-item__btn:hover {
  background-color: #ce0d0d;
}
.cart .item__remove .remove-item__btn .cross {
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 500rem;
  position: absolute;
}
.cart .item__remove .remove-item__btn .cross::before {
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 500rem;
  transform: rotate(90deg);
}
.cart__summary {
  width: 100%;
  display: grid;
  justify-items: end;
}
.cart__summary p {
  font-size: 1.8rem;
  margin: 3rem;
}
.cart__summary--confirm {
  background-color: #1ec21e;
  border: none;
  padding: 3rem 5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 2.5rem;
  margin-right: 3rem;
}
.cart__summary--confirm:hover {
  background-color: #3cb93c;
}

.categories {
  display: flex;
  margin: 5rem 5rem;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.categories__title {
  margin: 5rem 0;
}
.categories__title h1 {
  text-transform: capitalize;
}
.categories__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 10rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  margin-top: 5rem;
}

.footer {
  background-color: #006168;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
}
.footer .content {
  width: 100%;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 56.25em) {
  .footer .content {
    flex-direction: column;
  }
}
.footer .content a {
  color: white;
}
.footer .content__image {
  width: 50%;
}
.footer .content__selection {
  width: 50%;
}
.footer .content__categories {
  width: 50%;
}
.footer .content__categories ol {
  list-style-type: none;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 15rem auto;
  width: 1300px;
}
@media only screen and (max-width: 32.75em) {
  .homepage {
    flex-direction: column;
    align-items: center;
  }
}

.mob-nav-bg {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.mob-nav-bg .mob-nav {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg .mob-nav {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #00474c;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    top: 6.5rem;
    z-index: 500;
  }
}
.mob-nav-bg .mob-nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link {
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link:hover {
  background-color: #006168;
}
.mob-nav-bg .mob-nav__links--a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 2.5rem 0;
}
.mob-nav-bg .mob-nav__links--a:hover {
  color: #002f33;
}
.mob-nav-bg .mob-nav__links .image-container {
  background-color: #002f33;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.mob-nav-bg .mob-nav__links .image-container--image {
  display: flex;
  align-self: center;
  width: 4.46rem;
  height: 3.93rem;
}

.scrolled {
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.69);
  transition: all 0.2s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  height: 6.5rem;
  background-color: #00474c;
  width: 100%;
  z-index: 500;
}
.navbar__cart {
  font-size: 1.1rem;
}
.navbar__burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navbar__burger {
    display: inline-block;
    align-self: center;
    margin-top: 8px;
  }
}
.navbar__burger span {
  align-items: center;
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.navbar__image a {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100%;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}
.navbar__links .active {
  border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 56.25em) {
  .navbar__links {
    display: none;
  }
}
.navbar__links--link {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
}
.navbar__links--link:hover {
  background-color: #006168;
  color: #002f33;
}
.navbar__links--a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 0 1rem;
  padding-bottom: 0rem;
  white-space: nowrap;
}
.navbar__links--a:active {
  border-bottom: 2px solid #fff;
}

.popup {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.popup__success {
  width: 20%;
  height: 10%;
  background: green;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300;
}
@media (min-width: 768px) {
  .popup__success {
    padding: 40px;
  }
}
.popup__error {
  width: 20%;
  height: 10%;
  background: red;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300;
}
@media (min-width: 768px) {
  .popup__error {
    padding: 40px;
  }
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23rem;
  margin: 0 2rem 5rem 2rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px 0px #000000;
  transition: box-shadow 0.2s;
}
.product-card:hover {
  -webkit-box-shadow: 0px 5px 9px -3px #000000;
  box-shadow: 0px 5px 9px -3px #000000;
}
@media only screen and (max-width: 32.75em) {
  .product-card {
    width: 100%;
    margin-bottom: 10rem;
  }
}
.product-card__image {
  padding: 3rem;
}
.product-card__info {
  margin-top: 0.7rem;
  padding: 0 2rem 1rem 2rem;
}
.product-card__info--price {
  color: #7f7f7f;
}

.product-page {
  display: flex;
  align-items: center;
  height: 100vh;
}
.product-page__container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 50%;
  margin-left: 5rem;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.product-page__text {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin-top: 2rem;
  align-content: flex-start;
}
.product-page__text p {
  margin: 2rem 0;
}
.product-page__image {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 50%;
  margin-right: 5rem;
  align-items: center;
}
.product-page__btn {
  width: max-content;
  padding: 1.2rem 3.2rem;
  background-color: rgba(15, 15, 15, 0.349);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .product-page__btn {
    margin-bottom: 5rem;
  }
}
.product-page__btn:hover {
  background-color: transparent;
  transition: all 0.2s;
}

.success {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  align-items: center;
}
.success__container {
  display: table;
  width: 50%;
  border: black solid 1px;
}
.success__product-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.success__product-information h2 {
  margin-bottom: 5rem;
}
.success__product-information p {
  line-height: 2rem;
}
.success__header {
  vertical-align: bottom;
}
.success__header th {
  text-align: center;
  padding: 5rem;
}
.success__content {
  vertical-align: center;
}
.success__content td {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.success__message {
  margin-bottom: 10rem;
}
.success__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success__information a {
  color: inherit;
}
.success__total {
  margin: 5rem 0;
}

/*# sourceMappingURL=style.css.map */
