@keyframes slide {
  0%, 40% {
    transform: translateX(0);
  }
  50%, 100% {
    transform: translateX(-100vw);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
}

html {
  font-size: 62.5%;
  /* allows user to zom in on page (change font size) px won't work*/
}
@media only screen and (min-width: 187.5em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 187.5em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 162.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 125em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fafafa;
}

body {
  font-display: swap;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #0f0f0f;
}

.cart {
  margin: 5rem;
}
.cart__container {
  display: table;
  width: 100%;
}
.cart__header {
  vertical-align: bottom;
}
.cart__header th {
  text-align: center;
}
.cart__content {
  vertical-align: center;
}
.cart__content td {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.cart button {
  width: 2.5rem;
  height: 3rem;
  background-color: black;
  color: #ffffff;
  border: none;
  margin: 0.5rem;
  font-size: 1rem;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
  justify-content: center;
}
@media only screen and (max-width: 32.75em) {
  .homepage {
    flex-direction: column;
    align-items: center;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 32.75em) {
  .product-card {
    width: 100%;
    margin-bottom: 10rem;
  }
}

.product-page {
  display: flex;
  align-items: center;
}
.product-page__container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 50%;
  margin-left: 5rem;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.product-page__text {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin-top: 2rem;
  align-content: flex-start;
}
.product-page__text p {
  margin: 2rem 0;
}
.product-page__image {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 50%;
  margin-right: 5rem;
  align-items: center;
}
.product-page__btn {
  width: max-content;
  padding: 1.2rem 3.2rem;
  background-color: rgba(15, 15, 15, 0.349);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .product-page__btn {
    margin-bottom: 5rem;
  }
}
.product-page__btn:hover {
  background-color: transparent;
  transition: all 0.2s;
}

/*# sourceMappingURL=style.css.map */
